main{
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

section{
    margin: 10px;
    color: azure;

    }

body{
    margin: 0px;
}

    


#titulo{
    text-align: center;
    padding-bottom: 5px;
}

.modelo{
    padding: 10px;
    border-radius: 2px;
    height: 400px;
    width: 200;
    border: 1px solid azure;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: black;
    background-color: whitesmoke;
    margin: 5px;
    border-radius: 2px;

}


#calculo{
    width: 240px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 2px;
}



.historicoResultados{
    padding: 10px;
    border-radius: 2px;
    height: 400px;
    width: 200;
    border: 1px solid azure;
   
}
