*{
    padding: 0%;
    margin: 0%;
}
.fundo{
    background: steelblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.calculadora{
    border-radius: 10px;
    width: 250px;
    background-color: black;
    margin: 20px;
    border: none;
    padding: 10px;
}


.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: black;
    background-color: whitesmoke;
    border-radius: 10%;
    margin: 5px;

}


#resultado{
    width: 230px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 8px;

}

.tabelaResultado{
    border-radius: 10px;
    width: 250px;
    background-color: azure;
    color: black;
    margin: 20px;
    border: none;
    padding: 10px;
    
}

